################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QuizWebApp/.vs
/QuizWebApp/bin
/QuizWebApp/obj
